<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wp8" userInstalled="true" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="wp8" userInstalled="true" />
</packages>