<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="6461b3bd-169c-40f6-a3b0-a1d4f95dfe41"
            Publisher="CN=Jordan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>XamlingCore.Samples.WindowsUniversal.Windows</DisplayName>
    <PublisherDisplayName>Jordan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="XamlingCore.Samples.WindowsUniversal.Windows.App">
        <m2:VisualElements
            DisplayName="XamlingCore.Samples.WindowsUniversal.Windows"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="XamlingCore.Samples.WindowsUniversal.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>